*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background-color: darkslategray;
}

.container{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.logo{
  color: yellow;
  font-size: 18px;
  cursor: pointer;
}

ul li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}

ul li a{
  text-decoration: none;
  color: white;
  font-style: 18px;
}

ul li a:hover{
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}

.content{
  width: 600px;
  margin: 10rem auto;
  text-align: center;
}

.content h1{
  color: white;
}

.content p{
  color: lightgray;
  padding-top: 20px;
}

.content .btn{
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: yellow;
  color: black;
  border: none;
  outline: none;
}